.body {
  height: 400px;
  overflow: auto; /* 当内容溢出时添加滚动条 */
}
.myAutoComplete{
    width: 90%;
    margin-bottom: 20px;
    height: 50px;
    display: flex;
    align-self: center;
}
.list-item {
  padding: 20px;
  text-align: center;
}
/* CSS */
.list-item:nth-child(odd) {
  background-color: #f0f0f0; /* 设置奇数行背景颜色 */
}

.list-item:nth-child(even) {
  background-color: #ffffff; /* 设置偶数行背景颜色 */
}
.change-Org{
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.changeBtn{
  height: 50px;
  width: 100%;
}
